*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    border: none;
    outline: none;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

body{
    color: white;
    background-color: #3D3B40;
}
section{
    padding: 100px 0;
}
                             /*********navbar*************/
.navbar-brand{
    color: white !important;
    transition: .3s;
    font-variant: small-caps;
}
.navbar-brand:hover{
    color: #4CB9E7;
    text-shadow: 0 0 10px #5FBDFF,
                 0 0 20px #5FBDFF,
                 0 0 30px #5FBDFF,
                 0 0 40px #5FBDFF,
                 0 0 50px #5FBDFF;
}
nav{
    backdrop-filter: blur(40px);
    box-shadow: 10px 0 20px gray;
}
.nav-link{
    color: white;
    transition: .3s;
    font-size: 18px;
}
.nav-link:hover .active{
    color: #4CB9E7;
}    
                                  /*********home section************/
.btn{
    background-color: #4CB9E7;
    color: white;
    border-radius: 18px;
    padding: 7px 20px;
    transition: .3s;
}
.btn:hover{
    background-color:#4CB9E7;
    color: white;
    box-shadow: 0 0 10px #4CB9E7,
                0 0 20px #5FBDFF;
}
.social-icon a{
    display: inline-block;
    color: #4CB9E7 !important;
    padding: 7px 10px;
    font-size: 20px;
    border: 3px solid #4CB9E7;
    border-radius: 50%;
    transition: .3s;
}
.social-icon a:hover{
    background-color: #4CB9E7;
    color: #3D3B40 !important;
    border: 2px solid transparent;
    box-shadow: 0 0 5px #5FBDFF;
    transform: translateY(-4px);
}
span{
    color: #4CB9E7;
}
.home-img img{
    animation-name: img;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
@keyframes img{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-8px);
    }
    100%{
        transform: translateY(0px);
    }
}

                         /***********services section**************/
.services .card{
    background-color:  #58595acc;
    color: white;
    transition: all .3s ease-in-out;
    border: 2px solid transparent;
}
.services .card:hover{
    transform: scale(1.02);
    border: 2px solid #4CB9E7;
}
.services .card .card-img-top{
    font-size: 60px;
    font-weight: 800;
    color: #4CB9E7;
}
                                /***********portfolio section**************/

.portfolio img{
    border-radius: 10px;
    transition: all .3s ease;
}
.portfolio  img:hover{
    transform: scale(1.01);
    border-radius: 10px;
    filter: brightness(.7);
}
.portfolio .portfolio-card{
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}
.portfolio .portfolio-card .portfolio-text{
    position: absolute;
    left: 0;
    bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px 15px;
    
    transform: translateY(200%);
    transition: all .4s ease-in;
}
.portfolio-card:hover .portfolio-text{
    transform: translateY(0);
}
.portfolio-text h3{
    font-size: 20px;
}
                                  /***********contact section**************/
.contact-details{
    width: 800px;
    padding: 20px;
    margin: 0 auto;
}        
.contact-details input{
    background-color: #637E76;
    border: none;
    color: #4CB9E7 !important;
    transition: all .3s ease-in-out;
}        
.contact-details input:hover{
    border: 1px solid #3D3B40;
}
.contact-details textarea{
    background-color: #637E76;
    border: none;
    color: #4CB9E7;
}            

::placeholder{
    color: #4CB9E7 !important;
}


footer{
    background-color: #49484bd0;
    padding: 5px;
}

footer h4{
    font-size: 15px;
    color: #4CB9E7;
    text-transform: capitalize;
}


::-webkit-scrollbar-thumb{
    background-color: #4CB9E7;
    border-radius: 10px;
}
::-webkit-scrollbar{
    background-color: #3D3B40;
    width: 13px;
}





@media only screen and (max-width: 767px) {
    section{
        padding: 40px 0px 30px;
    }
    .home-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .home-text p{
        text-align: center;
    }
    .home-img img{
        max-width: 700px;
        width: 80%;
        margin-left: 40px;
    }
    .about-img img{
        width: 80%;
        max-width: 800px;
        margin-left: 20px;
    }
    .about-text p{
        font-size: 13px;
    }
    .services .card .card-body h3{
        font-size: 20px;
    }
    .services .card .card-body p{
        font-size: 14px;
    }
    .portfolio .portfolio-card{
        margin: 5px 20px;
    }
}
